<app-navigation></app-navigation>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <h2>DELETE EMPLOYEE</h2>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">EMPLOYEE CODE</label>
                    <input type="text" name="empcode" [(ngModel)]="empcode" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-primary" (click)="delete()">DELETE</button>
                </div>
            </div>
        </div>
    </div>
</div>
