<app-navigation></app-navigation>
<!-- <h1>Welcome {{data[0].name}}</h1>
<p>DESIGNATION : {{data[0].designation}}<br>SALARY : {{data[0].salary}}<br>COMPANY : {{data[0].company}}</p> -->
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <h2>EMPLOYEES</h2>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th scope="col">Employee Name</th>
                          <th scope="col">Designation</th>
                          <th scope="col">Salary</th>
                          <th scope="col">Company</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let i of data" >
                          <td>{{i.name}}</td>
                          <td>{{i.designation}}</td>
                          <td>{{i.salary}}</td>
                          <td>{{i.company}}</td>
                        </tr>
                        <!-- <tr>
                          <th scope="row">2</th>
                          <td>Name2</td>
                          <td>74</td>
                          <td>SD</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Name3</td>
                          <td>65</td>
                          <td>SD</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>Name4</td>
                          <td>74</td>
                          <td>Des</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>Name5</td>
                          <td>68</td>
                          <td>ED</td>
                        </tr>
                        <tr>
                          <th scope="row">6</th>
                          <td >Name6</td>
                          <td>55</td>
                          <td>SD</td>
      
                        </tr>
                        <tr>
                          <th scope="row">7</th>
                          <td>Name7</td>
                          <td>12</td>
                          <td>FD</td>
                        </tr>
                         -->
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

